<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testing_stocks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- KACIK Added Google Play Services 
        <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <!-- The main/home activity (it has no parent activity) -->
        <activity
            android:name="com.example.testing_stocks.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- All activities below this are not the parent activity -->
        <activity
            android:name="com.example.testing_stocks.DisplayMessageActivity"
            android:label="@string/title_activity_display_message" >
            android:parentActivityName="com.example.testing_stocks.MainActivity"
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.testing_stocks.MainActivity" />
        </activity>
    </application>

</manifest>
